@media(max-width: 767px){
  .logo .img {
    bottom: 0px;
  }

  #menu a {
    padding-left: 45px;
  }
}

.wrapper{
  padding: 0;
}

.row {
  margin: 0;
}

.logo {
  padding: 0;
}

.logo .img {
  position: absolute;
  left: 0;
}

.logo img {
  width: 86%;
  margin: 0 7%;
}

.banner {
  padding: 0;
  min-height: 50px;
}

.banner img{
  width: 100%;
}

.ex-link {
  position: absolute;
  right: 15px;
  bottom: 1px;
}

.ex-link img {
  width: 30px;
  float: left;
  margin-left: 1px;
}

.menu .navbar-header, #menu{
  background-color: #0065b2;
}

.menu .nav-menu {
  padding: 0;
}

.navbar-header .search-box{
  float: right;
  width: 78%;
}

#menu a{
  color: #fff;
  padding-top: 27px;
  padding-bottom: 3px;
}

#menu .item:hover a{
  background-color: #f58121;
}

#menu .item:hover a{
  color: #fff;
}

#menu .item img {
  position: absolute;
  z-index: 1000;
  width: 30px;
  height: 20px;
  left: 0;
  top: 24px;
}

#menu .search-box,
.navbar-header .search-box{
  padding-top: 8px;
}

#menu .search-box button,
.navbar-header .search-box button{
  position: absolute;
  right: 15px;
  top: 0;
  width: 40px;
}

#sub-menu {
  background-color: #e2ddda;
  margin: 0;
}

#sub-menu a{
  color: #0065b2;
  padding-top: 5px;
  padding-bottom: 5px;
}

#sub-menu .item:hover a{
  background-color: #0065b2;
}

#sub-menu .item:hover a{
  color: #fff;
}

#opt-menu {
  margin: 0;
  padding-top: 5px;
}

#opt-menu .item select{
  border: 0;
  color: #f58121;
  height: 20px;
  padding: 0 12px;
}

.content .col-left h3,
.content .col-left .h6{
  color: #f58121;
  font-size: 16px;
  font-weight: bold;
}

.content .col-right{
  padding: 0;
}

#myCarousel img{
  width: 100%;
}

.product h1,
.product h3,
.product h6{
  color: #0065b2;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid #f58121;
}

.product .item .row{
  min-height: 100px;
  border: 1px solid #ccc;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

.product .item .img{
  width: 100%;
  min-height: 115px;
}

.product .item img{
  width: 100%;
}

.product .item .code,
.product-seen .item .code {
  font-weight: bold;
  color: #0065b2;
}

.product .item .price,
.product-seen .item .price
{
  font-weight: bold;
  color: #f00;
}

.product .item .p2 p{
  margin-bottom: 4px;
}

.product .item .description p {
  font-size: 12px;
  margin-bottom: 2px;
}

.product .item .p2{
  padding-top: 15px;
  width: 125%;
  z-index: 1000;
  background-color: #fff;
  position: absolute;
  display: none;
  left: 15px;
  top: 0;
}

.product .item .exp {
  text-align: center;
  padding-bottom: 5px;
}

.product .img-detail img{
  width:100%;
  border: 1px solid #ccc;
}

.product .detail .title {
  font-size: 24px;
  font-weight: bolder;
  color: #0065b2;
}

.product .detail .price {
  font-size: 18px;
  font-weight: bold;
}

.product .detail .contact{
  color: #0065b2;
}

.product .detail .price .price-sp {
  color: #f00;
}

.product .detail-exp {
  padding-top: 15px;
}

.product .detail-exp a {
  font-weight: bold;
}

.product #description {
  padding-top: 15px;
}

.product #description p{
  font-size: 16px;
}

.product-seen .item{
  border: 1px solid #ccc;
}

.product-seen .item .img {
  padding: 0;
}

.product-seen .item img {
  width: 100%;
}

.product-seen .item .name {
  color: #333333;
}

.product-seen .item .detail {
  padding-top: 10px;
}

.new h6, .new h3,
.product-seen h6{
  color: #0065b2;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid #f58121;
}

.new .item{
  min-height: 150px;
  border-bottom: 1px solid #ccc;
}

.extra{
  margin-top: 15px;
  background-color: #f58121;
}

.extra .item{
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.about{
  min-height: 200px;
}

.about .item h6,
.about .item .h6{
  color: #0065b2;
  font-size: 16px;
  font-weight: bold;
}

.footer p, .footer h6{
  text-align: center;
  color: #0065b2;
}

.footer .h6{
  font-size: 16px;
  font-weight: bold;
}

.footer p{
  font-size: 14px;
}

.footer{
  padding: 15px;
  background-color: #e2ddda;
}

@media(min-width: 768px){
  .logo .img {
    bottom: -51px;
  }

  #menu .item img {
    top: 5px;
    left: 50%;
    margin-left: -15px;
  }

  .product .col-sm-2{
    width:20%;
  }

  .navbar-header .search-box{
    display: none;
  }

  #menu{
    padding: 0;
    max-width: 100%;
  }

  #menu .nav li{
    float: left;
  }

  #menu .search-box{
    width: 36%;
  }

  .product .item .img{
    min-height: 110px;
  }

  .product .item:hover .p1{
    visibility: hidden;
  }

  .product .item:hover .p2{
    display: block;
  }

  .product .item .p1 .exp {
    display: none;
  }
}

@media(min-width: 980px){
  #menu .search-box{
    //width: 36%;
  }

  .product .item .img{
    min-height: 145px;
  }
}

@media(min-width: 1200px){
  #menu .search-box{
    //width: 48%;
  }

  .product .item .img{
    min-height: 160px;
  }
}
